@import "tailwindcss";

@font-face{
  font-family: 'DM Sans';
  src: url('./assets/DMSans.ttf') format('truetype');
}

@theme{
  --color-surface: #F7E9DC;
  --color-outline: #ABA299;

  --color-box: #FFFCF7;
  --color-high: #382314;
  --color-low: #93867B;

  --font-sans: DM Sans;
}

@utility primary{
  --color-box: #EB765D;
  --color-high: #FFFFFF;
  --color-low: #FCD4CC;
}
@utility on-primary{
  --color-box: #F9B6A8;
  --color-high: #EB765D;
  --color-low: var(--color-high)
}
@utility on-secondary{
  --color-box: #E4E1DD;
}

@layer base{
  body{
    @apply bg-surface p-3;
  }
}

@layer components{
  .box{
    @apply bg-box text-high rounded-sm p-2.5
  }

  .standard-input, .passive-btn, .active-btn{
    @apply primary
  }

  .standard-input{
    @apply p-1.5 border-outline border-2 border-solid rounded-sm outline-box
  }

  .passive-btn, .active-btn{
    @apply p-1.5 rounded-sm text-center
  }
  .active-btn{
    @apply bg-box text-high
  }
  .passive-btn{
    @apply text-box
  }
}